.contactlist {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 10px;
  height: 100%;
  width: clamp(200px, 20%, 250px);
  box-sizing: border-box;
  padding-bottom: 0;
}

.contactlist .contactlist-scrollable {
  width: 100%;
  overflow-y: auto;
  padding-top: 10px;
}

.contactlist .contactlist-scrollable::-webkit-scrollbar {
  display: none;
}

.contactlist .characterheader {
  display: flex;
  height: 20px;
  padding: 2px 8px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  font-weight: var(--font-weight-bold, 600);

  border-radius: 5px;
  background: rgba(255, 255, 255, 0.93);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.contactlist .person {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  height: 30px;
  flex-shrink: 0;
  align-self: stretch;
  justify-content: flex-start;

  border-top: 0.25px solid #e0e0e0;
}

.contactlist .personname {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%; /* important */
  text-align: left;
}

/*TODO*/
.contactlist .person:first-of-type {
  border-top: 0px solid transparent;
}

.contactlist .person .lastname {
  font-weight: 600;
}
