.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.body {
  width: 100vw;
  flex: 1;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  overflow: hidden;
}

.body > :first-child {
  border-right: 1px solid #ddd;
}

.sidebar {
  color: #000;
  width: 200px;
  padding: 1rem;
}

.main-content {
  flex-grow: 1;
  display: flex;
  padding: 1rem;
}
